.headImg{
    width:100vw;
    background-image: url('../../images/header3.png'); /* שים כאן את הנתיב לתמונה שלך */
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 100%;
    height: 60px;
    /* margin: auto; */
    padding: 20px;
    background-color: var(--headAndFoot-bg-color);
    color: var(--headAndFoot-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    z-index: 1000;
    position: absolute;
    bottom: 60; 
    transition: top 0.3s;
    margin-bottom: 60px;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
  }
.bagAndUser{
    display: flex;
    gap: 10px;
}
.artiAndQustAndAbout{
    display: flex;
    gap: 20px;
}

@media (min-width: 870px) {
    .menuIcon {
        display:none;
        
    }
    
}
@media (max-width:870px){
    .bagAndUser p{
        display:none;
    }
    .artiAndQustAndAbout{
        display: none;
    }
}